
/* CSS default template to be used */
html{

    box-sizing: border-box;
}

body{

    margin: 0%;
    min-height: 100vh;
    background-color: #fff5b7;
    text-align: center; 
    

}

.contact-form{
    text-align: justify;
    width: 30%;
}

.image {
    width: 35%;
    height:500px; ;
    animation:spin 5s linear infinite;
}
@keyframes spin { 70% {transform:rotate3d(0, 1, 0, 3.142rad); } }

p{
    font-family: 'Sofia' ,sans-serif;
   }
.main-heading{
    color: #af2d2d;
}

.changefont{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: #0b5a52;
    opacity: 1.2;
    font-size: small;

}

.img-contact{
    border-radius: 30%;
    width:60px;
    padding:5px
}

.mymargin{
    margin-top:2%

}


span{
    font-weight: bold;
    text-align: justify;
    margin-right: 5px;
    font-size: 1.0rem;
  }
  

  footer{
    margin: 10px;
     font-weight:bold;
    font-size: xx-small;
    display: flex;
    flex-direction:column;
    font-family: 'Courier New', Courier, monospace;
  }

  @media only screen and (max-width: 500px) {
    .image {
        width: 20%;
        height:250px; 
  }
    
  }



