
/* CSS default template to be used */
html{

    box-sizing: border-box;
}

body{

    margin: 0%;
    min-height: 100vh;
    background-color: #fff5b7;
    text-align: center; 
    

}

.contact-form{
    text-align: justify;
    width: 30%;
}

.image {
    width: 35%;
    height:500px; ;
    animation:spin 5s linear infinite;
}
@keyframes spin { 70% {transform:rotate3d(0, 1, 0, 3.142rad); } }

p{
    font-family: 'Sofia' ,sans-serif;
   }
.main-heading{
    color: #af2d2d;
}

.changefont{

    font-family: 'Rock Salt', cursive;
    font-weight: lighter;
    color: #00ead3; 
}

.img-contact{
    border-radius: 30%;
    width:60px;
    padding:5px
}

.mymargin{
    margin-top:2%

}




